################# Standard stuff #################

# Ignore local environment config
.env

# Docker volumes
db_data/

# Editor junk
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# Crash log files
crash.log
crash.*.log
